.intro{
    font-size: 30px;
    background-color: rgb(150, 57, 153);
}

img {
    height: 80px;
    width: 75px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 75vh;
    background: rosybrown
}

.score{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

